th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th {
    height: 25px;
    text-align: center;
    background-color: rgb(79,129,189);
    color: white;
}
td {
    text-align: center;
    vertical-align: center;
    padding: 10px;
}
tr:hover {
    background-color: #4CAF49
}
tr:nth-child(even) {
    background-color: #f2f2f2
}