.container{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.col-xs-4{
    color: black;
font-family: Arial, Helvetica, sans-serif;
}
.carousel-indicators{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.carousel-inner{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.item{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.item1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.item2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.left{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.glyphicon{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.sr-only{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}